[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ttkthemes = "*"
serial = "*"
scikit-learn = "*"
pyserial = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.15"
